.container {
  height: 100%;
  max-width: 600px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

:global(.ui.comments) {
  width: 100%;
}

.messageForm {
  width: 100%;
  margin: 1.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

:global(.ui.massive.action.input) {
    width: 100%;
}

.filters {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


